body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 15px 15px 0 15px;
	padding: 0;
	color: #222;
	background: #111;
}

.container {
}

#inner {
	background: #9D954C url('/static/images/block-gradient.gif') repeat-x top left;
	padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: right;
	border-bottom: 1px #483700 solid;
	color: #555;
	font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
	font-weight: bold;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: .5em;
}

a {
	outline: none;
}

a:link, a:visited, a:active {
	color: #A33E00;
	outline: none;
	border: none;
}

a:hover {
	color: #DCDAC4;
	background: #A33E00;
}

a img {
	border: none;
	outline: none;
}

#header {
	color: #DCDAC4;
	background: #A33E00;
}

#header img {
	margin-bottom: -35px;
}

.content {
	padding: 1em;
	margin-bottom: 1em;
	background: #FDF1DA url('/static/images/inner-gradient.gif') repeat-x top left;
	border: 1px #483700 solid;
	color: #222222;
}

#footer {
	background: #111 url('/static/images/inner-gradient-bg.gif') repeat-x top left;
	color: #DCDAC4;
	text-align: center;
	padding: 15px;
	padding-top: 35px;
}

	#footer a:link, #footer a:visited, #footer a:active {
		text-decoration: none;
	}

	#footer .feed {
		background: transparent url("/static/images/feed-icon-14x14.png") no-repeat 0 70%;
		padding: 0.1em 20px;
		padding-right: 0;
	}

#nav {
}

.menu {
	float: right;
	margin-top: 21px;
}

#nav ul {
	list-style: none;
	font-size: 1.4em;
}

	#nav li {
		float: left;
	}
	
	#nav a {
		background-color: #A0B578;
		text-decoration: none;
		color: black;
		margin-right: .1em;
		padding: .4em;
		display: block;
	}
  
	#nav a:hover {
		background: #FFC300;
	}

.flash {
	text-align: center;
	font-size: 1.1em;
	border: solid 1px black;
	background: #222;
	padding: .1em;
	width: 100%;
}

.message {
	color: green;
}

.warning {
	color: yellow;
}

.error {
	color: red;
}

img.inline {
	margin: 10px;
	border: solid 1px #510000;
}

img.right {
	float: right;
	clear: right;
}

img.left {
	float: left;
	clear: left;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
	/* Hides from IE-mac \*/
	* html .clearfix {height: 1%;}
	/* End hide from IE-mac */

div.tags {
    clear: both;
}
div.tags ul {
    margin-left: 0;
    clear: left;
    height: 24px;
}
div.tags ul li {
    list-style-type: none;
    float: left;
    margin-right: 5px;
}
.entry div.tags ul li, .entry-brief div.tags ul li {
}
div.tags ul li.normal {
    background: none;
}
div.tags li a {
    display: block;
}

.flash { background: white; text-align: center; }
.flash_content { padding: .5em; }
