{% extends "base_2col.html" %}
{% load i18n %}
{% load blog_utils %}

{% block title %}{% blocktrans %}Entries tagged with "{{ tag }}"{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block feeds %}
{# TODO: looking into a custom tag for the feed url so reverse can be used. #}
<link rel="alternate" type="application/rss+xml" href="/blog/feeds/tags/{{ tag }}/" title="oebfare: Entries tagged with '{{ tag }}'" />
{% endblock %}

{% block sl %}
<div class="content">
	<h2 style="margin-bottom: 0; border-bottom: none;">{% blocktrans %}Entries tagged with "{{ tag }}"{% endblocktrans %}</h2>
	<div style="text-align: right; margin-bottom: 2em; border-bottom: 1px #483700 solid;"><a href="/blog/feeds/tags/{{ tag }}/" class="feed">Subscribe to Tag Feed</a></div>
	{% if object_list %}
	{% for post in object_list %}
	    {% show_post_brief post %}
	{% endfor %}
	{% else %}
	<p>{% trans "No entries." %}</p>
	{% endif %}
</div>
{% endblock %}

{% block sr %}
{% if related_tags %}
<h3>{% trans "Related Tags" %}</h3>
<div class="tags">
    <ul>
        {% for related_tag in related_tags %}
        <li><a href="{% url blog_tag_detail related_tag %}">{{ related_tag }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}