{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block sl %}
<div class="block clearfix content" style="min-height: 270px;">
	<h2 class="page_title">Cottage House Primitives</h2>
	<a href="http://www.cottagehouseprimitives.com">
		<img class="inline right" src="/static/images/projects/chp.png" alt="Cottage House Primitives website screenshot"/>
	</a>
	<p>
		<a href="http://www.cottagehouseprimitives.com">Cottage House Primitives</a> is a retail store in Lodi, Wisconsin specializing
		in primitive home furnishings.
	</p>
</div>
{% endblock %}
