{% extends "base.html" %}

{% load i18n %}

{% block sl %}
<div class="content">
	<h2>About Me</h2>
	<p>Working out of Tempe, AZ, Natty Nerd is Daniel Naab.</p>
	<p>Natty Nerd has mostly written desktop software (for <a href="http://www.sonymediasoftware.com">places</a> <a href="http://www.broadjam.com">like</a> <a href="http://www.cadpro.com">these</a>) but likes putzing around with the web as well.</p>
	<p>If you are on the lookout for a web developer, desktop software guru, or general purpose code monkey, please feel free to <a href="/contact/">contact Natty Nerd</a>.
	</p>
</div>

<div class="container">
	<div class="block">
		<div class="column span-9">
			<div class="content">
				<h3>Desktop software</h3>
				<div>Experience developing a wide variety of Windows and OS X desktop applications in <a href="http://www.sonycreativesoftware.com">win32</a>, <a href="http://www.drawpro.com">MFC</a>, <a href="http://www.broadjam.com">Java</a>, and (soon to be released) PyQt.</div>
			</div>
		</div>
		<div class="column span-9 last">
			<div class="content">
				<h3>Web applications</h3>
				<div>Consummate geek with more unfinished side projects than he can count.  A lover of <a href="http://www.python.org">Python</a> since 2001, Django is the nerd's toolkit of choice.</div>
			</div>
		</div>
		<div class="column span-18">
			<div class="content">
				<h3>Human resources acronym list</h3>
				<dl>
					<dt>Languages</dt>
					<dd>C/C++, Python, Java, Perl, Ruby, PHP, Visual Basic</dd>
					<dd>A bit of exposure to functional languages like Common Lisp, Erlang, etc</dd>
					<dt>Toolsets/standards (mega HR props)</dt>
					<dd>Qt, PyQt, SQL, HTML, XML, SOAP, Hibernate, Swing, SWT, Django, Rails, MS COM, MFC, Win32, JUnit, Ant, Tomcat, Perforce, cvs, svn, git... (and some more keywords when I have more time on my hands)</dd>
				</dl>
			</div>
		</div>
		<div class="column span-9">
			<div class="content">
				<h3>Education</h3>
				<dl>
					<dt>University of Wisconsin - Madison</dt>
					<dd>BS Computer Science, 2001</dd>
				</dl>
			</div>
		</div>
		<div class="column span-9 last">
			<div class="content">
				<h3>Hobbies/interests</h3>
				<table>
					<tr>
						<td>Hiking</td>
						<td>Gardening</td>
					</tr>
					<tr>
						<td>Homebrewing</td>
						<td>Cheesemaking</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}
